<div class="bjui-pageHeader"></div>
<div class="bjui-pageContent">
    <form id="j_admin_add_form" action="{:U('Blackip/edit')}" data-toggle="validate" method="post">
        <div class="pageFormContent" data-layout-h="0">
            <input type="hidden" name="biid" value="{$list.biid}"/>
            <table class="table table-condensed table-hover" width="100%">
                <tbody>
                <tr>
                    <td>
                        <label for="j_tname" class="control-label x85">IP地址：</label>
                        <input type="text" name="ip" id="j_tname" value="{$list.ip}" data-rule="required;ip;remote[{:U('Blackip/same',['ip'=>$list['ip']])}]" size="15" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">取消</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>
