/*采用rem为单位做移动端页面*/
@media screen and (max-width: 320px) {
    html {font-size: 14px;}
}
 
@media screen  and (min-width: 321px) and (max-width: 360px) {
    html {font-size: 16px;}
}
 
@media screen and (min-width: 361px) and (max-width: 400px) {
    html {font-size: 18px;}
}
 
@media screen and (min-width: 401px) and (max-width: 440px) {
    html {font-size: 20px;}
}
 
@media screen and (min-width: 441px) and (max-width: 480px) {
    html {font-size: 22px;}
}
 
@media screen and (min-width: 481px) {
    html {font-size: 24px;}
}
*,h1,h2,h3,h4,h5,p,div,span,ul,li,a,img{
	margin: 0;
	padding: 0;
}
a,li,input{
	text-decoration: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
li{
	list-style: none;
}
p{
	font-size: .84rem;
	font-family: "Microsoft YaHei";
    line-height: 1.5rem;
    padding:3px 2%;
    text-align: justify;
    text-indent: 2em;
}
input,textarea{
    outline: none;
    border: 1px solid #ccc;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.clearfix:before,.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
    zoom: 1;
}
.container{
    max-width: 570px;
    min-width: 320px;
    margin: auto;
}
.header-box{
    background-color: #25aaff;
    padding: 2%;
    position: relative;
}
.btn{
    position: absolute;
    right: 1%;
    top: 0;
    color: #616465;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 0;
}
.header{
    text-align: left;
    font-size: 1.2rem;
    color: #fff;
    padding-left: 44px;
    font-weight: bold;
    background: url(../images/cheack.png) no-repeat  left top;
    line-height: 40px;
}
.main{
    background: url(../images/main.png) no-repeat ;
    background-size: 100% 100%;
    padding: 7% 0;
}
.main .title{
    text-align: center;
    color: #323232;
    font-size: 1rem;
    line-height: 1.7;
    padding: 3% 0;
}
.main .weixin{
    text-align: center;
}