<div class="bjui-pageHeader" style="background:#FFF;">
    
</div>
<div class="bjui-pageContent">
    <div class="bjui-doc">
        <table class="table table-bordered table-striped table-hover">
            <tbody>
            <volist name="info" id="val">
                <tr>
                    <td>{$key}</td>
                    <td>{$val}</td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</div>
<div class="bjui-pageFooter">
    
</div>