body{margin:0px; padding:0px; font-size:12px; font-family:"微软雅黑"; color:#000; background:#ebebeb;}
a{color:#000; text-decoration:none; outline:none;}

.okDiv{width:90%;max-width:800px;background-color:#ffffff; overflow:hidden; margin:40px auto;border:1px solid #9D9D9D;}
#t0{line-height:120%; text-align:left; font-size:35px; color:#FFF;padding-left:80px;padding-top:15px;}
#t1{line-height:120%; text-align:left; font-size:35px; color:#FFF;padding-left:80px;padding-top:15px;}
#t2{text-align:left; color:#FFF; font-weight:400; font-size:18px; letter-spacing:2px;padding-left:80px;}

@media screen and (min-width: 320px) and (max-width: 480px){
#t0{line-height:120%; text-align:left; font-size:200%; color:#FFF;padding-left:80px;padding-top:15px;}
#t1{line-height:120%; text-align:left; font-size:200%; color:#FFF;padding-left:80px;padding-top:15px;}
#t2{text-align:left; color:#FFF; font-weight:400; font-size:100%; letter-spacing:2px;padding-left:80px;}
#t5,#t6{width:35%;}
}

.okDiv .top {
	background-color:#0F9ED4; width:100%;
	}
.shibai{
	background:url(../images/shibai.png?v1.0) left no-repeat;width:100%;height:80px;
	}
.chenggong{
	background:url(../images/chenggong.png?1.0) left no-repeat;width:100%;height:80px;
	}
.okDiv .content{
	background-color:#ffffff;
	overflow: hidden;
	font-size: 15px;
	line-height: 30px;
	padding: 20px;
}
.okDiv .bottom {
	background-color:#ffffff;  width:100%;height:100px;
	}
.okDiv .btnDiv{text-align:center;}
