<div class="bjui-pageHeader"></div>
<div class="bjui-pageContent">
    <form id="j_admin_add_form" action="{:U('Reportplan/add')}" data-toggle="validate" method="post">
        <div class="pageFormContent" data-layout-h="0">
            <table class="table table-condensed table-hover" width="100%">
                <tbody>
                <tr>
                    <td>
                        <label for="j_date" class="control-label x85">日期：</label>
                        <input type="text" name="date" id="j_date" value="" data-rule="required;date;" size="20" data-toggle="datepicker"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_rmid" class="control-label x85">员工：</label>
                        <select name="rmid" data-toggle="selectpicker" data-width="200" data-rule="required;">
                            <option value=""></option>
                            <volist name="mArr" id="m">
                                <option value="{$m.rmid}">{$m.nickname}</option>
                            </volist>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_pname" class="control-label x85">计划：</label>
                        <input type="text" name="pname" id="j_pname" value="" data-rule="required;pname;" size="20" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_rcid" class="control-label x85">分类：</label>
                        <select name="rcid" data-toggle="selectpicker" data-width="200" data-rule="required;">
                            <option value=""></option>
                            <volist name="cArr" id="c">
                                <option value="{$c.rcid}">{$c.cname}</option>
                            </volist>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_rfid" class="control-label x85">平台：</label>
                        <select name="rfid" data-toggle="selectpicker" data-width="200" data-rule="required;">
                            <option value=""></option>
                            <volist name="pArr" id="p">
                                <option value="{$p.rfid}">{$p.fname}</option>
                            </volist>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_used" class="control-label x85">状态：</label>
                        <input type="radio" name="used" id="j_used_1" data-toggle="icheck" value="0" data-label="作废&nbsp;&nbsp;">
                        <input type="radio" name="used" id="j_used_2" data-toggle="icheck" value="1" checked data-label="可用">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">取消</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>
