<div class="bjui-pageHeader" style="background:#FFF;">
    
</div>
<div class="bjui-pageContent">
    <div class="bjui-doc">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>状态</th>
                    <th>说明</th>
                    <th width="100">操作</th>
                </tr>
            </thead>
            <tbody>
            <volist name="list" id="row">
                <tr>
                    <td>{$row.xname}</td>
                    <td><if condition="$row.value eq 1"><span style="color:green">开启</span><else/><span style="color:red">关闭</span></if></td>
                    <td>{$row.desc}</td>
                    <td>
                    <if condition="authcheck('Admin/Planset/on_off')">
                        <if condition="$row.value eq 0">
                            <a href="{:U('Planset/on_off',['psid'=>$row['psid'],'value'=>$row['value']])}" class="btn btn-green" data-toggle="doajax" data-confirm-msg="确定开启吗？">开启</a>
                        <else/>
                            <a href="{:U('Planset/on_off',['psid'=>$row['psid'],'value'=>$row['value']])}" class="btn btn-red" data-toggle="doajax" data-confirm-msg="确定关闭吗？">关闭</a>
                        </if>
                    </if>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
    </div>
</div>
<div class="bjui-pageFooter">
    
</div>
