<div class="bjui-pageHeader"></div>
<div class="bjui-pageContent">
    <form id="j_admin_add_form" action="{:U('Admin/add')}" data-toggle="validate" method="post">
        <div class="pageFormContent" data-layout-h="0">
            <table class="table table-condensed table-hover" width="100%">
                <tbody>
                <tr>
                    <td>
                        <label for="j_username" class="control-label x85">帐号：</label>
                        <input type="text" name="username" id="j_username" value="" data-rule="required;username;remote[{:U('Admin/same')}]" size="15">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_password" class="control-label x85">密码：</label>
                        <input type="password" name="password" id="j_password" value="" data-rule="密码:required" size="15">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_password" class="control-label x85">确认密码：</label>
                        <input type="password" value="" data-rule="确认密码:required;match(password)" size="15">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_nickname" class="control-label x85">昵称：</label>
                        <input type="text" name="nickname" id="j_nickname" value="" data-rule="required" size="15">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" class="control-label x85">状态：</label>
                        <input type="radio" name="lock" id="j_lock1" data-toggle="icheck" value="0" checked data-label="正常&nbsp;&nbsp;">
                        <input type="radio" name="lock" id="j_lock2" data-toggle="icheck" value="1" data-label="冻结">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_group_id" class="control-label x85">群组：</label>
                        <select name="gid[]" id="j_group_id" data-toggle="selectpicker" multiple data-rule="required">
                            <volist name="group" id="row">
                                <option value="{$row.id}">{$row.title}</option>
                            </volist>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_desc" class="control-label x85">备注：</label>
                        <textarea name="desc" id="j_desc" data-toggle="autoheight" cols="25" rows="1"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">取消</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>