<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="{:U('Admin/index')}" method="post">
        <input type="hidden" name="pageSize" value="{$pageSize}">
        <input type="hidden" name="pageCurrent" value="{$pageCurrent}">
        <input type="hidden" name="orderField" value="{$orderField}">
        <input type="hidden" name="orderDirection" value="{$orderDirection}">
        <div class="bjui-searchBar">
            <label>AID：</label><input type="text" id="customNo" value="{$keys.aid}" name="keys[aid]" class="form-control" size="8">&nbsp;
            <label>帐号：</label><input type="text" value="{$keys.username}" name="keys[username]" class="form-control" size="10">&nbsp;
            <label>昵称：</label><input type="text" value="{$keys.nickname}" name="keys[nickname]" class="form-control" size="10">&nbsp;
            <label>状态:</label>
            <select name="keys[lock]" data-toggle="selectpicker">
                <option value="" <if condition="$keys[lock] eq null">selected</if>>全部</option>
                <option value="0" <if condition="($keys[lock] eq 0) AND ($keys[lock] neq null)">selected</if>>正常</option>
                <option value="1" <if condition="$keys[lock] eq 1">selected</if>>冻结</option>
            </select>&nbsp;
            <button type="button" class="showMoreSearch" data-toggle="moresearch" data-name="custom2"><i class="fa fa-angle-double-down"></i></button>
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <if condition="authcheck('Admin/Admin/add')">
                <a class="btn btn-default" href="{:U('Admin/add')}" data-id="add_admin" data-toggle="dialog" data-mask="true" data-width="400" data-height="320" data-icon="plus">添加</a>
            </if>
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn-default dropdown-toggle" data-toggle="dropdown" data-icon="copy">复选框-批量操作<span class="caret"></span></button>
                    <ul class="dropdown-menu right" role="menu">
                        <if condition="authcheck('Admin/Admin/del')">
                            <li><a href="{:U('Admin/del')}" data-toggle="doajaxchecked" data-confirm-msg="确定要删除选中项吗？" data-idname="aids" data-group="ids">删除选中</a></li>
                        </if>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bjui-moreSearch">
            <label>组ID：</label>
            <input type="text" value="{$keys.gid}" name="keys[gid]" size="8" />
            <label>&nbsp;备注:</label>
            <input type="text" value="{$keys.desc}" name="keys[desc]" size="15">
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent" id="admin_list">
    <table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
        <thead>
            <tr>
            <volist name="thead" id="val">
                <th <if condition="$key neq group">data-order-field="{$key}"</if>>{$val}</th>
            </volist>
                <th width="26"><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>
                <th width="100">操作</th>
            </tr>
        </thead>
        <tbody>
        <volist name="list" id="row">
            <tr data-id="{$row.aid}">
            <volist name="thead" id="val">
                <td>{$row.$key}</td>
            </volist>
                <td><input type="checkbox" name="ids" data-toggle="icheck" value="{$row.aid}"></td>
                <td>
                    <if condition="authcheck('Admin/Admin/edit')">
                        <a href="{:U('Admin/edit',array('key'=>'aid','val'=>$row['aid']))}" class="btn btn-green" data-toggle="dialog" data-id="edit_admin" data-mask="true" data-width="400" data-height="320">编辑</a>
                    </if>
                    <if condition="authcheck('Admin/Admin/del')">
                        <a href="{:U('Admin/del',array('key'=>'aid','val'=>$row['aid']))}" class="btn btn-red" data-toggle="doajax" data-confirm-msg="确定要删除该行信息吗？">删除</a>
                    </if>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
            </select>
        </div>
        <span>&nbsp;条，共 {$totalCount} 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="{$totalCount}" data-page-size="{$pageSize}" data-page-current="{$currentPage}">
        
    </div>
</div>