<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="{:U('Loginlog/index')}" method="post">
        <input type="hidden" name="pageSize" value="{$pageSize}">
        <input type="hidden" name="pageCurrent" value="{$pageCurrent}">
        <input type="hidden" name="orderField" value="{$orderField}">
        <input type="hidden" name="orderDirection" value="{$orderDirection}">
        <div class="bjui-searchBar">
            <label>LID：</label><input type="text" id="customNo" value="{$keys.lid}" name="keys[lid]" class="form-control" size="8">&nbsp;
            <label>系统账号：</label><input type="text" value="{$keys.aid}" name="keys[aid]" class="form-control" size="10">&nbsp;
            <label>员工名称：</label><input type="text" value="{$keys.mid}" name="keys[mid]" class="form-control" size="10">&nbsp;
            <button type="button" class="showMoreSearch" data-toggle="moresearch" data-name="custom2"><i class="fa fa-angle-double-down"></i></button>
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn-default dropdown-toggle" data-toggle="dropdown" data-icon="copy">复选框-批量操作<span class="caret"></span></button>
                    <ul class="dropdown-menu right" role="menu">
                        <if condition="authcheck('Admin/Loginlog/del')">
                            <li><a href="{:U('Loginlog/del')}" data-toggle="doajaxchecked" data-confirm-msg="确定要删除选中项吗？" data-idname="ids" data-group="ids">删除选中</a></li>
                        </if>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent" id="admin_list">
    <table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
        <thead>
            <tr>
            <volist name="thead" id="val">
                <th <if condition="$key neq group">data-order-field="{$key}"</if>>{$val}</th>
            </volist>
                <th width="26"><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>
                <th width="100">操作</th>
            </tr>
        </thead>
        <tbody>
        <volist name="list" id="row">
            <tr data-id="{$row.lid}">
            <volist name="thead" id="val">
                <td>{$row.$key}</td>
            </volist>
                <td><input type="checkbox" name="ids" data-toggle="icheck" value="{$row.lid}"></td>
                <td>
                    <if condition="authcheck('Admin/Loginlog/del')">
                        <a href="{:U('Loginlog/del',array('key'=>'lid','val'=>$row['lid']))}" class="btn btn-red" data-toggle="doajax" data-confirm-msg="确定要删除该行信息吗？">删除</a>
                    </if>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
            </select>
        </div>
        <span>&nbsp;条，共 {$totalCount} 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="{$totalCount}" data-page-size="{$pageSize}" data-page-current="{$currentPage}">
        
    </div>
</div>