<div class="bjui-pageHeader"></div>
<div class="bjui-pageContent">
    <form id="j_admin_add_form" action="{:U('Rule/add')}" data-toggle="validate" method="post">
        <div class="pageFormContent" data-layout-h="0">
            <table class="table table-condensed table-hover" width="100%">
                <tbody>
                <tr>
                    <td style="padding:5px 0px;">
                        <label for="j_title" class="control-label x85">规则名称：</label>
                        <input type="text" name="title" id="j_title" value="" data-rule="required" size="15">
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 0px;">
                        <label for="j_name" class="control-label x85">认证规则：</label>
                        <input type="text" name="name" id="j_name" value="" data-rule="required" size="15">
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 0px;">
                        <label for="" class="control-label x85">高级认证：</label>
                        <input type="radio" name="type" id="j_lock1" data-toggle="icheck" value="1" checked data-label="否&nbsp;&nbsp;">
                        <input type="radio" name="type" id="j_lock2" data-toggle="icheck" value="0" data-label="是">
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 0px;">
                        <label for="" class="control-label x85">可用状态：</label>
                        <input type="radio" name="status" id="j_status1" data-toggle="icheck" value="1" checked data-label="正常&nbsp;&nbsp;">
                        <input type="radio" name="status" id="j_status2" data-toggle="icheck" value="0" data-label="禁用">
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 0px;">
                        <label for="j_condition" class="control-label x85">正则规则：</label>
                        <textarea name="condition" id="j_condition" data-toggle="autoheight" cols="20" rows="1"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">取消</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>