<style type="text/css">
    .ipu{width:599px;}
    fieldset{background-color:#efefef;}
    legend{font-size:12px;font-weight:normal;color:#008800;}
</style>
<div class="bjui-pageHeader"></div>
<div class="bjui-pageContent">
    <form id="j_admin_add_form" action="{:U('Advert/add')}" data-toggle="validate" method="post">
        <div class="pageFormContent" data-layout-h="0">
            <fieldset>
                <legend>推广链接基础信息设置</legend>
                <table class="table-condensed table-hover" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <label for="j_xname" class="control-label x85">推广名称：</label>
                                <input class="ipu" type="text" name="xname" id="j_xname" value="" data-rule="required" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="j_tname" class="control-label x85">二级目录：</label>
                                <input class="ipu" type="text" name="tname" id="j_tname" value="" data-rule="required;tname;remote[{:U('Advert/same')}]" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="domain" class="control-label x85">使用域名：</label>
                                <select name="did" id="domain" data-toggle="selectpicker" data-live-search="true" data-width="599">
                                    <volist name="dArr" id="d">
                                        <option value="{$d.did}">{$d.xname}_{$d.domain}</option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="j_mid" class="control-label x85">所属员工：</label>
                                <select name="mid" id="j_mid" data-toggle="selectpicker" data-live-search="true" data-width="599">
                                    <volist name="mArr" id="m">
                                        <option value="{$m.mid}" <if condition="$m.mid eq $mid">selected</if>>{$m.nickname}</option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset>
                <legend>商品信息设置</legend>
                <table class="table-condensed table-hover" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <label for="category" class="control-label x85">商品分类：</label>
                                <select id="category" onchange="sp(this)" data-toggle="selectpicker" data-live-search="true" data-width="599">
                                    <option value="">--请选择--</option>
                                    <volist name="cArr" id="c">
                                        <option value="{$c.cid}">{$c.cname}</option>
                                    </volist>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td><label for="j_pid" class="control-label x85">商品名称：</label></td>
                                        <td>
                                            <volist name="pArr" id="p">
                                                <div style="display:none;margin:2px 0px;" class="x_{$p.cid} sp">
                                                <input type="checkbox" id="j_pid_{$p.pid}" name="pids[]" data-toggle="icheck" value="{$p.pid}" data-label="{$p.pname}">
                                                </div>
                                            </volist>
                                            <span id="tsp" style="line-height:22px;">(先选择商品分类,用于单页面)</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset>
                <legend>模板信息设置</legend>
                <table class="table-condensed table-hover" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <label for="ntpl" class="control-label x85">推广模版：</label>
                                <select name="tnid" id="ntpl" data-toggle="selectpicker" data-live-search="true" data-width="599">
                                    <volist name="tnArr" id="tn">
                                        <option value="{$tn.tnid}">{$tn.tname}</option>
                                    </volist>
                                </select>(没被屏蔽时看到的页面模板)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="btpl" class="control-label x85">审核模版：</label>
                                <select name="tbid" id="btpl" data-toggle="selectpicker" data-live-search="true" data-width="599">
                                    <volist name="tbArr" id="tb">
                                        <option value="{$tb.tbid}">{$tb.tname}</option>
                                    </volist>
                                </select>(被屏蔽的人所看到的页面模板)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="otpl" class="control-label x85">订单模版：</label>
                                <select name="toid" id="otpl" data-toggle="selectpicker" data-live-search="true" data-width="599">
                                    <volist name="toArr" id="to">
                                        <option value="{$to.toid}">{$to.tname}</option>
                                    </volist>
                                </select>&nbsp;(提交订单后显示订单号的页面模版)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset>
                <legend>审核与推广防御设置</legend>
                <table class="table-condensed table-hover" width="100%">
                    <tbody>
                        <tr>
                            <td style="height:35px;">
                                <label for="" class="control-label x85">屏蔽模式：</label>
                                <input type="radio" name="mode" id="j_mode1_1" data-toggle="icheck" value="0" checked data-label="普通模式&nbsp;&nbsp;">
                                <input type="radio" name="mode" id="j_mode2_2" data-toggle="icheck" value="1" data-label="混合模式">
                                <!--(<span style="color:red;">目前测试中，请勿选</span>)-->
                            </td>
                        </tr>
                        <tr>
                            <td style="height:35px;">
                                <label for="" class="control-label x85">强制屏蔽：</label>
                                <input type="radio" name="deny" id="j_deny1_1" data-toggle="icheck" value="0" checked data-label="否(只屏蔽下面选择的地区)&nbsp;&nbsp;">
                                <input type="radio" name="deny" id="j_deny2_2" data-toggle="icheck" value="1" data-label="是(强制所有地区都显示屏蔽页面)">
                                (<span style="color:green;">账户审核时或推广停止投放后请选上“是”</span>)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td><label class="control-label x85">屏蔽地区：</label></td>
                                        <td style="border:1px #ccc dotted; padding: 5px 5px;">
                                            <input type="checkbox" id="j_barea" class="checkboxCtrl" data-group="baids[]" data-toggle="icheck" data-label="全部">&nbsp;<br/>
                                            <volist name="baArr" id="ba">
                                                <div style="float:left;width:70px;<if condition='($i % 10) == 0'>clear:left;</if>"><input type="checkbox" id="j_barea{$ba.baid}" name="baids[]" data-toggle="icheck" value="{$ba.baid}" data-label="{$ba.area}"></div>
                                            </volist>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:35px;">
                                <label for="" class="control-label x85">爬虫屏蔽：</label>
                                <input type="radio" name="defend" id="j_defend1_1" data-toggle="icheck" value="0" checked data-label="否(不对爬虫做任何处理)&nbsp;&nbsp;">
                                <input type="radio" name="defend" id="j_defend2_2" data-toggle="icheck" value="1" data-label="是(开启爬虫屏蔽)">
                            </td>
                        </tr>
                        <tr>
                            <td style="height:35px;">
                                <label for="" class="control-label x85">PC端屏蔽：</label>
                                <input type="radio" name="banpc" id="j_banpc1_1" data-toggle="icheck" value="0" checked data-label="否(不屏蔽)&nbsp;&nbsp;">
                                <input type="radio" name="banpc" id="j_banpc2_2" data-toggle="icheck" value="1" data-label="是(屏蔽电脑端)">
                            </td>
                        </tr>
                        <tr>
                            <td style="height:35px;">
                                <label for="" class="control-label x85">UA屏蔽：</label>
                                <input type="checkbox" data-toggle="icheck" data-label="启用UserAgent屏蔽" id="uackbtn">&nbsp;&nbsp;
                                <input type="text" name="useragent" id="j_useragent" value="" data-rule="" size="44" placeholder="这里填写UserAgent的关键字" style="display:none;"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset>
                <legend>页面信息设置</legend>
                <table class="table-condensed table-hover" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <table>
                                    <td><label for="j_link" class="control-label x85">链接地址：</label></td>
                                    <td>
                                        <input type="text" name="link" id="j_link" value="" class="ipu" />&nbsp; (可不填,可用于页面内部跳转,页面之间跳转等)
                                    </td>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="j_company" class="control-label x85">公司名称：</label>
                                <input type="text" name="company" id="j_company" value="" data-rule="" class="ipu" />(可不填)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="j_address" class="control-label x85">公司地址：</label>
                                <input type="text" name="address" id="j_address" value="" data-rule="" class="ipu" />(可不填)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="j_beian" class="control-label x85">备案信息：</label>
                                <textarea name="beian" id="j_beian" cols="60" rows="2"></textarea>(可不填)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td><label for="j_color" class="control-label x85">备案颜色：</label></td>
                                        <td>
                                            <input type="text" name="color" id="j_color" value="" data-rule="" data-toggle="colorpicker" data-bgcolor="true" readonly class="ipu" />
                                            <a href="javascript:;" title="清除颜色" data-toggle="clearcolor" data-target="#j_color">清除颜色</a>
                                            (可不填,备案信息的显示颜色,)
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="j_telno" class="control-label x85">电话号码：</label>
                                <input type="text" name="telno" id="j_telno" value="" data-rule="" class="ipu" />(页面销售电话,可不填)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="j_mobile" class="control-label x85">手机号码：</label>
                                <input type="text" name="mobile" id="j_mobile" value="" data-rule="" class="ipu" />(页面用手机号码,可不填)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="" class="control-label x85">访问统计：</label>
                                <input type="radio" name="ismo" id="j_ismo_1" data-toggle="icheck" value="0" data-label="关闭&nbsp;&nbsp;">
                                <input type="radio" name="ismo" id="j_ismo_2" data-toggle="icheck" value="1" checked data-label="开启">(用于统计页面访问到中部，底部数据)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="j_jscode" class="control-label x85">统计代码：</label>
                                <textarea name="jscode" id="j_jscode" data-toggle="autoheight" cols="60" rows="4"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset>
                <legend>订单信息设置</legend>
                <table class="table-condensed table-hover" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td><label for="j_url" class="control-label x85">订单跳转：</label></td>
                                        <td>
                                            <input type="text" name="url" id="j_url" value="" class="ipu" />&nbsp; (提交订单成功后，返回首页指向的地址，不填默认原页面)
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="j_tips" class="control-label x85">提示信息：</label>
                                <textarea name="tips" id="j_tips" cols="60" rows="2"></textarea>(下单成功后，网页的提示信息，可不填，默认使用全局设置)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="" class="control-label x85">禁止下单：</label>
                                <input type="radio" name="isuno" id="j_isuno_1" data-toggle="icheck" value="0" checked data-label="否&nbsp;&nbsp;">
                                <input type="radio" name="isuno" id="j_isuno_2" data-toggle="icheck" value="1" data-label="是">(禁止后该页面不再接收表单)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset>
                <legend>其他信息设置</legend>
                <table class="table-condensed table-hover" width="100%">
                    <tbody>
                        <tr>
                            <td>
                                <label for="" class="control-label x85">使用状况：</label>
                                <input type="radio" name="used" id="j_lock1_1" data-toggle="icheck" value="0" data-label="未用&nbsp;&nbsp;">
                                <input type="radio" name="used" id="j_lock2_2" data-toggle="icheck" value="1" checked data-label="在用">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">取消</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>
<script type="text/javascript">
    $('#uackbtn').on('ifChecked', function(){
        $('#j_useragent').show();
    }).on('ifUnchecked', function(){
        $('#j_useragent').hide();
    });
    function sp(obj){
        var cid = $(obj).val();
        if($.trim(cid) != ''){
            $('.sp').hide();
            $('.sp').find('input').attr('disabled', true);
            $('.x_'+cid).show();
            $('.x_'+cid).find('input').removeAttr('disabled');
            $('#tsp').hide();
        }else{
            $('.sp').hide();
            $('.sp').find('input').attr('disabled', true);
            $('#tsp').show();
        }
    }
</script>
