<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="{:U('Count/mcount')}" method="post">
        <div class="bjui-searchBar">
            <label>日期：</label><input type="text" value="{$key.date}" name="key[date]" data-toggle="datepicker" class="form-control" size="13">&nbsp;
            <label>时段:</label>
            <select name="key[time]" data-toggle="selectpicker" data-width="100">
                <option value="10" <if condition="$key.time eq 10">selected</if>>0-10点</option>
                <option value="11" <if condition="$key.time eq 11">selected</if>>0-11点</option>
                <option value="12" <if condition="$key.time eq 12">selected</if>>0-12点</option>
                <option value="14" <if condition="$key.time eq 14">selected</if>>0-14点</option>
                <option value="15" <if condition="$key.time eq 15">selected</if>>0-15点</option>
                <option value="16" <if condition="$key.time eq 16">selected</if>>0-16点</option>
                <option value="17" <if condition="$key.time eq 17">selected</if>>0-17点</option>
                <option value="18" <if condition="$key.time eq 18">selected</if>>0-18点</option>
                <option value="180" <if condition="$key.time eq 180">selected</if>>18-24点</option>
                <option value="240" <if condition="$key.time eq 240">selected</if>>0-24点</option>
            </select>
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <a href="javascript:$('#mc_tips').slideDown();">选项说明</a>
            <div class="pull-right">
            </div>
        </div>
    </form>
</div>
<div class="bjui-pageContent">
    <div id="mc_tips" style="margin-bottom:10px;display:none;height:auto;" class="alert alert-warning form-inline">
        <i class="fa fa-warning"></i> <strong>说明：</strong>统计当月累计消费信息直接选择当前日期和时间段，统计往月累计消费，如查询2017年6月的，日期选择当月最后一天2017-06-30，时段选择0-24点，然后点击查询即可查到该月份累计消费!!
        &nbsp;<a href="javascript:$('#mc_tips').slideUp();">[关闭说明]</a>
    </div>
    <table data-toggle="tablefixed" data-width="100%">
        <thead>
            <tr>
                <th>推广员工</th>
                <th>消费总额</th>
                <th>进线总数</th>
                <th>进线成本</th>
                <th>当月累计消费</th>
                <!--<th width="28"><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>
                <th width="30">操作</th>-->
            </tr>
        </thead>
        <tbody>
        <volist name="list" id="row">
            <tr>
                <td>{$row.name}</td>
                <td>{$row.stt}</td>
                <td>{$row.ott}</td>
                <td>{$row.ctt}</td>
                <td>{$row.mtt}</td>
                <!--<td><input type="checkbox" name="ids" data-toggle="icheck"></td>
                <td>
                    
                </td>-->
            </tr>
        </volist>
        </tbody>
    </table>
</div>