*{margin:0px 0px;padding:0px 0px;}
html{ margin:0px 0px; padding:0px 0px;}
body{   -webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; margin:0px 0px; padding:0px 0px;font-size:12px; }
a{ text-decoration:none;}
a:hover{ color:#c7313d; text-decoration:none;}
dl,dt,dd,ul,ol,li{ list-style:none;}

img{border:none; vertical-align:middle; width:100%;}
input{vertical-align:middle;}
input:focus{ outline:none;}
.clear{ clear:both; height:0; overflow:hidden; clear:both; margin:0; padding:0; line-height:0;}

.biaodan{margin:0 auto;margin-top:20px; }
.main_05{ width:100%;margin:0 auto; font-size:12px; color:#8f1919;}
.main_05 h3{text-align:center;line-height:1.8em;background-color:#59280c;color:#fff;font-size:22px;font-weight:bold;}
.main_05 li{ width:98%; height:auto; border-width:0 0 1px 0;}
.main_05 li label{ float:left; text-align:right; border-width:0 1px 0 0;font-weight:bold;font-size:14px;color:black;}
.main_05 li input{ width:76%; margin:5px 0 5px 0px; height:34px; float:left; border-radius: 5px;border:1px solid #ccc;}
.main_05 li select{border-radius: 5px;border:1px solid #ccc;margin-top:10px;height:24px;}
.main_05 li span{  display:block;float:right; }
.main_05 li font{ padding-left:8px; color:#F00;vertical-align:middle;}
.main_05 .jian{width:26px;}
.main_05  .ji_top{margin-top:10px;}
.main_05 textarea{ width:75%; margin:5px 0 5px 0px; height:44px; float:left;border-radius: 5px;border:1px solid #ccc;}
.main_05 b{margin-left:4px;font-size:20px;color:red;}

.txt_01{ width:97%; height:38px; margin:8px 0 0 5px;}
.main_05 li a{margin:0 auto; width:100%; text-align:center;}
.main_05 li a input{ padding-top:25%;}
.btn2{background:url(../images/tijiao.png) no-repeat center center;background-size:50% 40%;margin-left: 30%; border:none; cursor:pointer;}
.main_10{ width:100%; height:auto; line-height:20px; text-align:center; margin-bottom:50px;}
.main_05 li.rdo input{ width:20px; height:auto; margin:10px 0 0 5px; text-align:left;}
.main_05 li.rdo span{ line-height:34px; display:block; float:left;font-size:16px;color:black;}
.main_05 li.rdo span font{line-height:34px;}
.main_05 .wxts{padding:6px;border:1px solid #707070;width:70%;float: right;font-size:14px;margin-right:10px;background-color:#eee;color:#fe0000;}

.main_06{text-align:center; width:100%; height:auto; margin: 10px auto;}
.main_06 h3{width:60%; height:auto; padding: 2% 0; background-color:#ff8a00; margin: 0 auto; color: #fff;}
.main_06 a{color:#fff;}
.clear{clear:both;}



.xuanfu{width:100%; height:auto;}
.xuanfu li{width:100%; height:auto; padding:2% 0; float:left;  list-style: none; color:#fff;}
.xuanfu .li2{background-color:#18972a;}
        

.main_problom h3{text-align:center;line-height:1.8em;background-color:#59280c;color:#fff;font-size:22px;font-weight:bold;}
.main_problom li{padding:4px 4px 0 6px;color:black;border-bottom:1px dashed #ccc;color:red;line-height:20px;}
.main_problom li font{color:black; }

.xuanfu{width:100%; height:auto;}
.xuanfu li{width:50%; height:auto; padding:3% 0; float:left;  list-style: none; color:#fff; font-size:20px; font-weight:bold;}
.xuanfu .li2{background-color:#18972a;}
        

