<div class="bjui-pageHeader"></div>
<div class="bjui-pageContent">
    <form id="j_admin_add_form" action="{:U('Reportcate/add')}" data-toggle="validate" method="post">
        <div class="pageFormContent" data-layout-h="0">
            <table class="table table-condensed table-hover" width="100%">
                <tbody>
                <tr>
                    <td>
                        <label for="j_cname" class="control-label x85">分类名称：</label>
                        <input type="text" name="cname" id="j_cname" value="" data-rule="required;cname;remote[{:U('Reportcate/same')}]" size="20" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_used" class="control-label x85">使用状态：</label>
                        <input type="radio" name="used" id="j_used_1" data-toggle="icheck" value="0" data-label="未用&nbsp;&nbsp;">
                        <input type="radio" name="used" id="j_used_2" data-toggle="icheck" value="1" checked data-label="在用">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">取消</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>
