<div class="bjui-pageHeader"></div>
<div class="bjui-pageContent">
    <form id="j_admin_add_form" action="{:U('Domaintpl/edit')}" data-toggle="validate" method="post">
        <div class="pageFormContent" data-layout-h="0">
            <input type="hidden" name="tdid" value="{$list.tdid}"/>
            <table class="table table-condensed table-hover" width="100%">
                <tbody>
                <tr>
                    <td>
                        <label for="j_tname" class="control-label x85">模版名称：</label>
                        <input type="text" name="tname" id="j_tname" value="{$list.tname}" data-rule="required;tname;remote[{:U('Domaintpl/same',['tname'=>$list['tname']])}]" size="25" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_tplno" class="control-label x85">模版路径：</label>
                        <input type="text" name="tdno" id="j_tplno" value="{$list.tdno}" data-rule="required;tdno;remote[{:U('Domaintpl/same',['tdno'=>$list['tdno']])}]" size="25" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_used" class="control-label x85">模版状态：</label>
                        <input type="radio" name="used" id="j_used_1" data-toggle="icheck" value="0" <if condition="$list['used'] eq 0">checked</if> data-label="未用&nbsp;&nbsp;">
                        <input type="radio" name="used" id="j_used_2" data-toggle="icheck" value="1" <if condition="$list['used'] eq 1">checked</if> data-label="在用">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">取消</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>
