<div class="bjui-pageContent">
    <div style="margin-top:5px; overflow:hidden;">
        <div class="row" style="padding: 0 8px;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-bar-chart-o fa-fw"></i>今日访问信息 
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div style="mini-width:400px;height:230px" data-toggle="echarts" data-type="bar,line" data-url="{:U('Mine/moni')}"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <i class="fa fa-bar-chart-o fa-fw"></i>今日下单信息 
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div style="mini-width:400px;height:230px" data-toggle="echarts" data-type="bar,line" data-url="{:U('Mine/order')}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
