/*采用rem为单位做移动端页面*/
@media screen and (min-width: 750px) {
  html {
    font-size: 75px !important;
  }
}
*,
h1,
h2,
h3,
h4,
h5,
p,
div,
span,
ul,
li,
a,
img {
  margin: 0;
  padding: 0;
}
a,
li,
input {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
  color: #000;
  appearance: none;
  -webkit-appearance: none;
}
li {
  list-style: none;
}
p,
h3 {
  font-size: 0.346667rem;
  font-family: "Microsoft YaHei";
  line-height: 0.546667rem;
  text-indent: 2em;
  color: #6a6a6a;
  padding: 0 0.24rem;
  text-align: justify;
}
input,
textarea {
  outline: none;
  border: 1px solid #ccc;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
img {
  width: 100%;
  display: block;
}
/* 页面样式开始 */
.container {
  max-width: 750px;
  width: 10rem;
  min-width: 320px;
  margin: 0 auto;
  font-size: 16px;
  overflow: hidden;
  font-family: 'SimHei', "微软雅黑";
  text-align: justify;
  background: #f6f6f6;
}
.hotline {
  position: relative;
}
.hotline .line {
  text-align: center;
  font-size: 0.746667rem;
  color: #fff;
  font-weight: bold;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0.08rem;
  text-shadow: 0 0.08rem 0.04rem #0e51ac;
}
.timeout {
  text-align: center;
  background: #e76a77;
  padding: 0.24rem 0;
  font-size: 0.373333rem;
  color: #fff;
  font-weight: bold;
}
.beian {
  text-align: center;
  padding: 2%;
}
.biaodan {
  padding: .4rem 0.226667rem;
  background: #fff;
}

.biaodan .inner {
  width: 100%;
  box-sizing: border-box;
}

.biaodan .inner form {
  display: block;
}

.biaodan .inner form .line {
  padding: 0.493333rem 0 0.8rem;
  text-align: center;
  font-size: 0.48rem;
}

.biaodan .inner form .row {
  padding: 0 1.133333rem 0.4rem 0.84rem;
}

.biaodan .inner form .row input {
  display: block;
  width: 100%;
  height: 0.8rem;
  border-radius: 0.16rem;
  border: 0;
  box-sizing: border-box;
  padding: 0 0.213333rem;
  font-size: 0.346667rem;
  border: 1px solid #dcdcdc;
}

.biaodan .inner form .btn {
  padding: 0 0.546667rem 0 0.44rem;
}

.biaodan .inner form .btn input {
  display: block;
  width: 100%;
  height: 0.933333rem;
  border-radius: 0.16rem;
  border: 0;
  box-sizing: border-box;
  padding: 0 0.213333rem;
  background: #d9bdf7;
  color: #fff;
  font-size: 0.586667rem;
}

.beian {
  text-align: center;
  font-size: 0.32rem;
  padding: 2%;
}

.biaodan .banben {
  padding: 0 0.213333rem;
  box-sizing: border-box;
}

.biaodan .banben li {
  float: left;
  width: 33%;
}

.biaodan .banben li label {
  display: block;
  width: 100%;
  font-size: 0.346667rem;
  position: relative;
}

.biaodan .inner .row .banben input {
  opacity: 0;
  width: 0;
  height: 0;
  width: 0.373333rem;
  height: 0.4rem;
  position: absolute;
  left: 0;
  top: 0;
}

.biaodan .banben .radio-style::before {
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  border: 0.026667rem solid #aaa;
  content: "";
  vertical-align: middle;
  margin-right: 6px;
  border-radius: 0.053333rem;
}

.biaodan .banben input:checked+.radio-style::before {
  background: url(../images/cheack.png) no-repeat center center;
  background-size: cover;
  background-clip: content-box;
}
.jump1, .jump3 {
  position: relative;
}
.jump3 .info{
  position: absolute;
  width: 5.6rem;
  height: .866667rem;
  background: transparent;
  opacity: 0;
  bottom: .8rem;
  left: 1.973333rem;
}
.jump1 .info{
  position: absolute;
  width: 4.44rem;
  height: .746667rem;
  right: .32rem;
  bottom: 1.733333rem;
  opacity: 0;
  background: transparent;
}
.jump1 .info.exp{
  width: 5.666667rem;
  height: .866667rem;
  right: 2.4rem;
  bottom: .693333rem;
}