*,h1,h2,h3,h4,h5,p,div,span,ul,li,a,img{
	margin: 0;
	padding: 0;
}
a,li,input{
	text-decoration: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
li{
	list-style: none;
}
p{
	font-size: 22px;
	font-family: "Microsoft YaHei";
	line-height: 37px;
}
input,textarea{
    outline: none;
    border: 1px solid #ccc;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.clearfix:before,.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}
img{
    width: 100%;
    display: block;
}
/* 页面样式开始 */
.container{
    max-width: 640px;	
    min-width: 320px;
	margin: 0 auto;
    font: normal 16px "微软雅黑";
}
.container #nav{
    width: 100%;
    height: 60px;

}
.container #nav li{
    float: left;
    width: 25%;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    background-color: #ff6f3d;
    color: #fff;
    cursor: pointer;
}
.container #nav li:nth-of-type(1){
    background-color: #ff9e50;
}
.container img{
    width: 100%;
    display: block;
    vertical-align: middle;
}
.content .item{
    padding: 4% 1%;
}
.content .item .item-content{
    float: left;
    width: 32.5%;
    border: 1px solid #ececec;
    margin-left: 1%;
    box-shadow: 3px 4px 4px #f5f5f5;
}
.content .item .item-content:nth-of-type(1){
    margin-left: 0;
}
.content .item .item-content p{
    font-size: 13px;
    line-height: 24px;
    padding: 10px 0 0 10px;
    font-weight: bold;
    height: 100px;
}
@media screen and (min-width: 582px) {
    .content .item .item-content p {
        height: auto;
    }
}
@media screen and (max-width: 328px) {
    .content .item .item-content p {
        height: 125px;
    }
}
.content .item .item-content span{
    font-size: 12px;
    display: block;
    padding-left: 10px;
}
.content .item .item-content input{
    width: 65%;
    display: block;
    margin:22px  auto;
    height: 33px;
    background-color: #fff;
    border: 1px solid #e9736f;
    border-radius: 5px;
    color: #e9736f;
    cursor: pointer;
}
.biaodan{
    margin: 1%;
    box-shadow: 0px 0px 10px #e9736f;
    border-radius: 5px;
}
.biaodan form{
    
}
.biaodan form .form-item{
    float: left;
    width: 33.33%;
}
.biaodan form .form-item p{
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
   
}
.biaodan form .form-item input{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    height: 25px;
    border: 1px solid #ececec;
    border-radius: 5px;
    padding-left: 8px;
}
.biaodan form .form-item .btn{
    background: #e24943;
    color: #fff;
    height: 30px;
    border: 0;
    cursor: pointer;
}
.consult p{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    padding:0 20px;

}
.consult input{
    display: block;
    width: 50%;
    height: 66px;
    margin:30px auto;
    border-radius: 33px;
    font-size: 35px;
    color: #fff;
    border: 0;
    background: #ff3030;
}
.teacher-box{
    background-color: #f4f4f4;
}
.teacher-box .teacher{
    margin-bottom: 40px;
    position: relative;

}
.teacher input{
    width: 60%;
    height: 88px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 0;

}
.study{
    background-color: #f8f8f8;
    padding: 14px 0 25px;
}
.study .study-item{
    float: left;
    width: 33.33%;
}
.study .study-item input{
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 38px;
    background-color: #ff8c1a;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}
.model{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, .7);
    padding: 150px 2%;
    box-sizing: border-box;
}
.model .model-box{
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ff3030;
    border-radius: 10px;
    padding: 3%;
    box-sizing: border-box;
}
.model .model-box p{
    text-align: center;
    font-size: 22px;
    padding: 20px 0;

}
.model .model-box input{
    width: 100%;
    height: 48px;
    font-size: 22px;
    padding-left: 14px;
    box-sizing: border-box;

}
.model .model-box .btn{
    background-color: #ff3434;
    border: 0;
    color: #fff;
    border-radius: 8px;
}
.consult-banner{
    position: relative;
}
.consult-banner .consult-info{
    position: absolute;
    left: 10%;
    top: 50%;
    background-color: rgba(255, 84, 44, .6);
    width: 80%;
    height: 44px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 44px;
    margin-top: -17px;
}
@media screen and (max-width: 352px) {
    .consult-banner .consult-info {
       font-size: 16px;
    }
}