<div class="bjui-pageHeader"></div>
<div class="bjui-pageContent">
    <form id="j_admin_add_form" action="{:U('Group/edit')}" data-toggle="validate" method="post">
        <div class="pageFormContent" data-layout-h="0">
            <input type="hidden" name="id" value="{$list.id}"/>
            <table class="table table-condensed table-hover" width="100%">
                <tbody>
                <tr>
                    <td style="padding:5px 0px;">
                        <label for="j_title" class="control-label x85">群组名称：</label>
                        <input type="text" name="title" id="j_title" value="{$list.title}" data-rule="required" size="15">
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 0px;">
                        <label for="" class="control-label x85">可用状态：</label>
                <input type="radio" name="status" id="j_status1" data-toggle="icheck" value="1" <if condition="$list['status'] eq 1">checked</if> data-label="正常&nbsp;&nbsp;">
                <input type="radio" name="status" id="j_status2" data-toggle="icheck" value="0" <if condition="$list['status'] eq 0">checked</if> data-label="禁用">
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 0px;text-align:center;">
                        <label for="j_rule" class="control-label x85">权限分配：</label>
                        <input type="checkbox" class="checkboxCtrl" data-group="rules[]" data-toggle="icheck">
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="table">
                            <volist name="rArr" id="row">
                                <if condition="$i%5 eq 1"><tr></if>
                                <td><input type="checkbox" name="rules[]" id="j_rules_{$i}" data-toggle="icheck" value="{$row.id}" <if condition="in_array($row['id'],$list['rules'])">checked</if> data-label="{$row.title}"></td>
                                <if condition="$i%5 eq 0"><tr/></if>
                            </volist>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">取消</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>