<div class="bjui-pageHeader"></div>
<div class="bjui-pageContent">
    <form id="j_admin_add_form" action="{:U('Domain/add')}" data-toggle="validate" method="post">
        <div class="pageFormContent" data-layout-h="0">
            <table class="table table-condensed table-hover" width="100%">
                <tbody>
                <tr>
                    <td>
                        <label for="j_xname" class="control-label x85">推广编号：</label>
                        <input type="text" name="xname" id="j_xname" value="" data-rule="required" size="45" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_domain" class="control-label x85">域名名称：</label>
                        <input type="text" name="domain" id="j_domain" value="" data-rule="required;domain;remote[{:U('Domain/same')}]" size="30"/>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="checkbox" data-toggle="icheck" data-label="绑定链接" id="ckbtn">
                        <input type="text" id="xtname" name="tname" style="float:right;display:none;" value="" placeholder="二级目录" size="10" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_group_id" class="control-label x85">域名模版：</label>
                        <select name="tdid" id="j_group_id" data-toggle="selectpicker" data-live-search="true" data-width="400">
                            <volist name="tplArr" id="row">
                                <option value="{$row.tdid}">{$row.tname}</option>
                            </volist>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_beian" class="control-label x85">备案号：</label>
                        <input type="text" name="beian" id="j_beian" value="" data-rule="" size="40" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_telno" class="control-label x85">电话号码：</label>
                        <input type="text" name="telno" id="j_telno" value="" data-rule="" size="40" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_company" class="control-label x85">公司名称：</label>
                        <input type="text" name="company" id="j_company" value="" data-rule="" size="50" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_address" class="control-label x85">公司地址：</label>
                        <input type="text" name="address" id="j_address" value="" data-rule="" size="50" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" class="control-label x85">使用状况：</label>
                        <input type="radio" name="used" id="j_lock1_1" data-toggle="icheck" value="0" checked data-label="未用&nbsp;&nbsp;">
                        <input type="radio" name="used" id="j_lock2_2" data-toggle="icheck" value="1" data-label="在用">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_jscode" class="control-label x85">统计代码：</label>
                        <textarea name="jscode" id="j_jscode" data-toggle="" cols="50" rows="3" style="resize:none;"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">取消</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>
<script type="text/javascript">
    $('#ckbtn').on('ifChecked', function(){
        $('#xtname').show();
    }).on('ifUnchecked', function(){
        $('#xtname').hide();
    });
</script>
