<div class="bjui-pageHeader"></div>
<div class="bjui-pageContent">
    <form id="j_admin_add_form" action="{:U('Baseset/edit')}" data-toggle="validate" method="post">
        <div class="pageFormContent" data-layout-h="0">
            <input type="hidden" name="bsid" value="{$list.bsid}"/>
            <table class="table table-condensed table-hover" width="100%">
                <tbody>
                <tr>
                    <td>
                        <label for="j_xname" class="control-label x85">中文名称：</label>
                        <input type="text" name="xname" id="j_xname" value="{$list.xname}" data-rule="required" size="15" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_var" class="control-label x85">字段名：</label>
                        <input type="text" name="var" id="j_var" readonly value="{$list.var}" data-rule="required;var;remote[{:U('Baseset/same',['var'=>$list['var']])}]" size="15" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_value" class="control-label x85">字段值：</label>
                        <textarea name="value" id="j_value" data-toggle="autoheight" cols="40" rows="4" style="resize:none;">{$list.value}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_desc" class="control-label x85">字段说明：</label>
                        <textarea name="desc" id="j_value" data-toggle="autoheight" cols="40" rows="4" style="resize:none;">{$list.desc}</textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">取消</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>