<div class="bjui-pageHeader"></div>
<div class="bjui-pageContent">
    <form id="j_admin_add_form" action="{:U('Cate/add')}" data-toggle="validate" method="post">
        <div class="pageFormContent" data-layout-h="0">
            <table class="table table-condensed table-hover" width="100%">
                <tbody>
                <tr>
                    <td>
                        <label for="j_cname" class="control-label x85">分类名称：</label>
                        <input type="text" name="cname" id="j_cname" value="" data-rule="required;cname;remote[{:U('Cate/same')}]" size="15" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" class="control-label x85">顶级分类：</label>
                        <input type="radio" name="top" data-toggle="icheck" value="1" checked data-label="是&nbsp;&nbsp;" />
                        <input type="radio" name="top" data-toggle="icheck" value="0" data-label="否" onclick="" disabled>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_group_id" class="control-label x85">短信模版：</label>
                        <select name="tmid" id="j_group_id" data-toggle="selectpicker" data-width="150">
                            <volist name="tmArr" id="row">
                                <option value="{$row.tmid}">{$row.title}</option>
                            </volist>
                        </select>(下单成功后提示短信)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" class="control-label x85">状态信息：</label>
                        <input type="radio" name="lock" id="j_lock1_1" data-toggle="icheck" value="0" checked data-label="正常&nbsp;&nbsp;">
                        <input type="radio" name="lock" id="j_lock2_2" data-toggle="icheck" value="1" data-label="冻结">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_desc" class="control-label x85">备注信息：</label>
                        <textarea name="desc" id="j_desc" data-toggle="autoheight" cols="25" rows="2" style="resize:none;"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">取消</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>
<script type="text/javascript">
    $('input[name=top]').on('ifClicked', function(e){
        var check = $(this).val();
        if(check === '1'){
            //$('#j_group_id').attr('disabled', true);
            //$('#j_group_id').attr('data-rule', '');
        }else{
            //$('#j_group_id').removeAttr('disabled');
            //$('#j_group_id').attr('data-rule', 'required');
        }
    });
</script>