<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="{:U('Cate/index')}" method="post">
        <input type="hidden" name="pageSize" value="{$pageSize}">
        <input type="hidden" name="pageCurrent" value="{$pageCurrent}">
        <input type="hidden" name="orderField" value="{$orderField}">
        <input type="hidden" name="orderDirection" value="{$orderDirection}">
        <div class="bjui-searchBar">
            <label>CID：</label><input type="text" id="customNo" value="{$keys.cid}" name="keys[cid]" class="form-control" size="8">&nbsp;
            <label>分类名称：</label><input type="text" value="{$keys.cname}" name="keys[cname]" class="form-control" size="10">&nbsp;
            <!--<input type="checkbox" name="keys[top]" id="j_form_checkbox2" value="1" data-toggle="icheck" <if condition="$keys['top'] eq 1">checked</if> data-label="顶级分类" />&nbsp;
            <label>上级分类:</label>
            <select id="j_form_select2" name="keys[tcid]" data-toggle="selectpicker">
                <option value=""></option>
                <volist name="topArr" id="top">
                    <option value="{$top.cid}" <if condition="$top['cid'] eq $keys['tcid']">selected</if>>{$top.cname}</option>
                </volist>
            </select>&nbsp;-->
            <label>状态:</label>
            <select name="keys[lock]" data-toggle="selectpicker">
                <option value="" <if condition="$keys[lock] eq null">selected</if>>全部</option>
                <option value="0" <if condition="($keys[lock] eq 0) AND ($keys[lock] neq null)">selected</if>>正常</option>
                <option value="1" <if condition="$keys[lock] eq 1">selected</if>>冻结</option>
            </select>&nbsp;
            <button type="button" class="showMoreSearch" data-toggle="moresearch" data-name="custom2"><i class="fa fa-angle-double-down"></i></button>
            <button type="submit" class="btn-default" data-icon="search">查询</button>&nbsp;
            <if condition="authcheck('Admin/Cate/add')">
                <a class="btn btn-default" href="{:U('Cate/add')}" data-id="add_cate" data-toggle="dialog" data-mask="true" data-width="400" data-height="280" data-icon="plus">添加</a>
            </if>
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn-default dropdown-toggle" data-toggle="dropdown" data-icon="copy">复选框-批量操作<span class="caret"></span></button>
                    <ul class="dropdown-menu right" role="menu">
                        <if condition="authcheck('Admin/Cate/del')">
                            <li><a href="{:U('Cate/del')}" data-toggle="doajaxchecked" data-confirm-msg="确定要删除选中项吗？" data-idname="ids" data-group="ids">删除选中</a></li>
                        </if>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bjui-moreSearch">
            <label>&nbsp;备注:</label>
            <input type="text" value="{$keys.desc}" name="keys[desc]" size="25">
        </div>
    </form>
</div>
<div class="bjui-pageContent tableContent" id="admin_list">
    <table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
        <thead>
            <tr>
            <volist name="thead" id="val">
                <th <if condition="$key neq group">data-order-field="{$key}"</if>>{$val}</th>
            </volist>
                <th width="26"><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>
                <th width="100">操作</th>
            </tr>
        </thead>
        <tbody>
        <volist name="list" id="row">
            <tr data-id="{$row.cid}">
            <volist name="thead" id="val">
                <td>{$row.$key}</td>
            </volist>
                <td><input type="checkbox" name="ids" data-toggle="icheck" value="{$row.cid}"></td>
                <td>
                    <if condition="authcheck('Admin/Cate/edit')">
                        <a href="{:U('Cate/edit',array('key'=>'cid','val'=>$row['cid']))}" class="btn btn-green" data-toggle="dialog" data-id="edit_admin" data-mask="true" data-width="400" data-height="280">编辑</a>
                    </if>
                    <if condition="authcheck('Admin/Cate/del')">
                        <a href="{:U('Cate/del',array('key'=>'cid','val'=>$row['cid']))}" class="btn btn-red" data-toggle="doajax" data-confirm-msg="确定要删除该行信息吗？">删除</a>
                    </if>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div class="bjui-pageFooter">
    <div class="pages">
        <span>每页&nbsp;</span>
        <div class="selectPagesize">
            <select data-toggle="selectpicker" data-toggle-change="changepagesize">
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="60">60</option>
                <option value="80">80</option>
            </select>
        </div>
        <span>&nbsp;条，共 {$totalCount} 条</span>
    </div>
    <div class="pagination-box" data-toggle="pagination" data-total="{$totalCount}" data-page-size="{$pageSize}" data-page-current="{$currentPage}">
        
    </div>
</div>
<script type="text/javascript">
    $('#j_form_checkbox2').on('ifChanged', function(e){
        var checked = $(this).is(':checked');
        if(!checked){
            $('#j_form_select2').removeAttr('disabled');
        }else{
            $('#j_form_select2').attr('disabled', '');
        }
    });
</script>