<div class="bjui-pageContent">
    <form action="{:U('Product/add')}" id="j_custom_form" data-toggle="validate" data-alertmsg="false">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
                <tr>
                    <td>
                        <label for="j_pname" class="control-label x85">商品名称：</label>
                        <input type="text" name="pname" id="j_pname" value="" data-rule="required;" size="33">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_price" class="control-label x85">销售价格：</label>
                        <input type="text" name="price" id="j_price" value="0.00" data-rule="required;number" size="33">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_oprice" class="control-label x85">商品原价：</label>
                        <input type="text" name="oprice" id="j_oprice" value="0.00" data-rule="required;number" size="33">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_cate" class="control-label x85">商品分类：</label>
                        <select name="cid" id="j_cate" data-rule="required" data-toggle="selectpicker" data-width="330">
                            <option value="">请选择商品分类</option>
                            <volist name="cateArr" id="cate">
                                <option value="{$cate.cid}">{$cate.cname}</option>
                            </volist>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" class="control-label x85">商品状态：</label>
                        <input type="radio" name="sale" id="j_sale1" data-toggle="icheck" value="1" data-rule="checked" checked data-label="上架&nbsp;&nbsp;">
                        <input type="radio" name="sale" id="j_sale2" data-toggle="icheck" value="0" data-label="下架">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
        <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
    </ul>
</div>
