<div class="bjui-pageHeader"></div>
<div class="bjui-pageContent">
    <form id="j_admin_add_form" action="{:U('Member/add')}" data-toggle="validate" method="post">
        <div class="pageFormContent" data-layout-h="0">
            <table class="table table-condensed table-hover" width="100%">
                <tbody>
                <tr>
                    <td>
                        <label for="j_nickname" class="control-label x85">员工名称：</label>
                        <input type="text" name="nickname" id="j_nickname" value="" data-rule="required;nickname;remote[{:U('Member/same')}]" size="15" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_pass" class="control-label x85">管理密码：</label>
                        <input type="text" name="password" id="j_pass" value="" data-rule="" size="15" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_group" class="control-label x85">所属群组：</label>
                        <select name="aid" id="j_group" data-toggle="selectpicker" data-width="150" data-rule="required">
                            <option value=""></option>
                            <volist name="aArr" id="aids">
                                <option value="{$aids.aid}">{$aids.nickname}</option>
                            </volist>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_slave" class="control-label x85">下属组员：</label>
                        <select name="slave[]" id="j_slave" data-toggle="selectpicker" data-rule="" data-width="150" multiple>
                            <option value="0" selected>自己</option>
                            <volist name="sArr" id="mids">
                                <option value="{$mids.mid}">{$mids.nickname}</option>
                            </volist>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_desc" class="control-label x85">备注信息：</label>
                        <textarea name="desc" id="j_desc" data-toggle="autoheight" cols="15" rows="2" style="resize:none;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="j_used" class="control-label x85">可用状态：</label>
                        <input type="radio" name="used" id="j_used_1" data-toggle="icheck" value="0" data-label="禁用&nbsp;&nbsp;">
                        <input type="radio" name="used" id="j_used_2" data-toggle="icheck" value="1" checked data-label="可用">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close">取消</button></li>
        <li><button type="submit" class="btn-default">保存</button></li>
    </ul>
</div>
